%% Includes top level git directory (normal usage should just point to github.
{deps, [
    {aspecterl, ".*", {git, "../../.."}}
]}.

%% Make sure AspectErl is loaded as a Library in Rebar.
{lib_dirs, ["deps/aspecterl"]}.

%% Ask AspectErl to inject code when compiling this OTP application.
{erl_opts, [ {parse_transform, aspecterl_injector},
             warnings_as_errors % Force our missing callbacks to be errors.
]}.
