%% Includes top level git directory (normal usage should just point to github).
{deps, [
    {aspecterl, ".*", {git, "../../.."}}
]}.

%% Must compile aspects first so injector knows where advice is.
{erl_first_files, ["src/pool_advice.erl"]}.

%% Ask AspectErl to inject code when compiling this OTP application.
{erl_opts, [ {parse_transform, aspecterl_injector} ]}.
