%% Includes top level git directory (normal usage should just point to github).
{deps, [
    {aspecterl, ".*", {git, "../../.."}}
]}.

%% Must compile the aspects first for the injector to know where the advice and
%% pointcuts are. To toggle advice on and off you can therefore just comment 
%% out the particular file.
{erl_first_files, [
    "src/call_log_advice.erl" ,
    "src/err_log_advice.erl"  ,
    "src/ret_log_advice.erl"
]}.

%% Ask AspectErl to inject code when compiling this OTP application.
{erl_opts, [ {parse_transform, aspecterl},
             warnings_as_errors % Force our missing callbacks to be errors.
]}.
