%% Includes top level git directory (normal usage should just point to github).
{deps, [
    {aspecterl, ".*", {git, "../../.."}}
]}.

% Note the Makefile takes care of injection via a direct call to 
% aspecterl:compile/1. This will take care of 99% of all cases (will only not
% work if you wish to stack separate advice directories, as each compile/1 call
% will overwrite all other advice.
